<%- include('layout/header') %>
<div class="container">
    <h3> Groups </h3>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createGroupModel">
        Create Group
    </button>
    <%
    if(typeof message !== "undefined"){
        %>
    <p style="color: green"><%= message %></p>
    <%
    }
    
    %>

    <!-- Show Groups -->
    <table class="table table-dark">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Image</th>
                <th>Name</th>
                <th>Limits</th>
                <th>Members</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <%
        if(groups.length > 0){
            for(var i = 0; i < groups.length; i++){
            %>
            <tr>
                <td><%= i+1 %></td>
                <td><img class="GroupImage" src="http://localhost:4040/<%= groups[i].image %>" alt="" /></td>
                <td><%= groups[i].name %></td>
                <td><%= groups[i].limit %></td>
                <td><a class="cursor-pointer addMember" data-id="<%= groups[i]._id %>" data-toggle="modal"
                        data-limit="<%= groups[i].limit %>" data-target="#memberModel">Members</a>

                </td>
                <td>
                    <a class="cursor-pointer updateGroup" data-obj="<%= JSON.stringify(groups[i]) %>"
                        data-id="<%= groups[i]._id %>" data-toggle="modal" data-limit="<%= groups[i].limit %>"
                        data-target="#updateGroupModel"><i class="fa fa-pencil"></i>
                    </a>
                    <a class="cursor-pointer deleteGroup" data-id="<%= groups[i]._id %>" data-toggle="modal"
                        data-name="<%= groups[i].name %>" data-target="#deleteGroupModel"><i class="fa fa-trash"></i>
                    </a>
                    <a class="cursor-pointer copy" data-id="<%= groups[i]._id %>"><i class="fa fa-copy"></i>
                    </a>
                </td>
            </tr>
            <%
        }
        }else{
            %>
            <tr>
                <td>No Group Found</td>
            </tr>
            <%
        }

          %>


        </tbody>
    </table>


    <!-- Members Modal -->
    <div class="modal fade" id="memberModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" id="add-member-form">
                    <div class="modal-body">
                        <input type="hidden" class="form-control" id="group_id" name="group_id" required />
                        <input type="hidden" class="form-control" id="limit" name="limit" required />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody class="addMemberTable">

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <p id="add-member-error"></p>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add & Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Create Group Modal -->
    <div class="modal fade" id="createGroupModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create Group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" enctype="multipart/form-data" method="post">
                    <div class="modal-body">
                        <input type="text" class="form-control" name="name" placeholder="Enter Your Group Name"
                            required />
                        <input type="file" class="form-control" name="image" required />
                        <input type="number" min="1" class="form-control" name="limit" placeholder="Enter User limit"
                            required />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Update Group Modal -->
    <div class="modal fade" id="updateGroupModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update Group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" enctype="multipart/form-data" method="post" id="updateChatGroupForm">
                    <div class="modal-body">
                        <input type="hidden" name="gid" id="update_group_id" />
                        <input type="hidden" name="last_limit" id="last_limit" />
                        <input type="text" id="group_name" class="form-control" name="name"
                            placeholder="Enter Your Group Name" required />
                        <input type="file" class="form-control" name="image" />
                        <input type="number" min="1" id="group_limit" class="form-control" name="limit"
                            placeholder="Enter User limit" required />
                        <p><b>(Note):</b>if you enter the limit less then to previous limit we will remove all the users
                            from Group </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

     <!-- Delete Group Modal -->
     <div class="modal fade" id="deleteGroupModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLongTitle">Delete Group</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="post" id="deleteChatGroupForm">
                 <div class="modal-body">
                     <input type="hidden" name="gid" id="delete_group_id" />
                     <p>Are you sure you want to delete <b id="delete_group_name"></b> group?</p>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button type="submit" class="btn btn-danger">Delete</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
</div>




<%- include('layout/footer') %>